:root {
    --lh:           20px;
    --lh2:          40px;
    --lh3:          60px;
    --primary:       #099ca4;
    --header:       var(--primary);
    --link:         #058188;
    // --link:         #086191;
    --font-primary: sans-serif;
    --font-mono:    monospace;
}

* {
    box-sizing: border-box;
}
.flex {
    flex: 1;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    padding: 0 0 var(--lh3);
    font-family: var(--font-primary);
    font-size: 12pt;
    letter-spacing: -0.02em;
    color: #222;
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}
header {
    background-color: var(--primary);
    margin-bottom: var(--lh2);
    padding: 8px 0;
}
header .container {
    display: flex;
    align-items: center;
}
header h1 {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px;
}
header a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
footer {
    margin-top: var(--lh3);
    font-size: 0.9rem;
    color: #666;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}
main {
    flex: 1;
    min-width: 0; // fixes the pre-caused overflow
    padding: 0 var(--lh);
    word-break: break-word;
}
nav {
    flex: 0 0 220px;
    margin-bottom: var(--lh);
}
nav a {
    display: block;
}
nav a[data-level="1"] {
    margin-top: 16px;
}
nav a[data-level="2"] {
    padding-left: 24px;
}

.languages {
    margin-top: 16px;
}
.languages a {
    display: inline-block;
    padding: 0px 8px;
    margin-right: 4px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    border: solid 2px var(--primary);
    // border-radius: 4px;
}
.languages a:hover, .languages a.current {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

h1 {
    margin: var(--lh) 0 var(--lh);
    color: var(--header);
    font-weight: normal;
}
h2 {
    margin: var(--lh) 0 var(--lh);
    color: #555;
    font-size: 3rem;
    font-weight: normal;
}
h3 {
    margin: var(--lh2) 0 var(--lh);
}
h4 {
    margin: var(--lh2) 0 var(--lh);
}
h5 {
    margin: var(--lh2) 0 var(--lh);
}
p {
    margin: var(--lh) 0;
}
p.subtle {
    color: #555;
    font-style: italic;
}
a {
    color: var(--link);
}
ul {
    margin: var(--lh) 0;
}
ul li {
    list-style-type: "— ";
}
code {
    padding: 0 4px;
    font-size: 0.85rem;
    background-color: #eee;
    border: solid 1px #999;
    font-family: var(--font-mono);
}
pre {
    padding: 0;
}
pre code {
    display: block;
    margin: 0 8px;
    padding: 8px 0;
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
    overflow-x: auto;
}
blockquote {
    margin-left: 0;
    padding-left: 2rem;
    border-left: solid 2px var(--primary);
}
img {
    max-width: 100%;
}
img.small {
    max-width: 128px;
}
.warning::before {
    content: "!";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 32px;
    background-color: #ffcc66;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    
}
.warning {
    position: relative;
    padding: 6px 6px 6px 40px;
    background-color: #fff0d3;
    border: solid 2px #ffcc66;
}
.color-showcase {
    display: inline-block;
    width: 100px;
    padding: 4px 8px;
    margin-right: 8px;
    text-align: center;
    border: solid 1px #000;
    user-select: all;
}
.color-showcase.dark {
    color: #fff;
}

@media screen and (max-width: 720px) {
    .content {
        flex-direction: column;
    }
}