<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg">
    {% block rss %}{% endblock rss %}
</head>
<body>

    {% set langExt = "" %}
    {% if lang != "en" %}
        {% set langExt = "."~lang %}
    {% endif %}
    
    {% if section %}
        {% set translations = section.translations %}
    {% else %}
        {% set translations = page.translations %}
    {% endif %}
    
    <header>
        <div class="container">
            <h1>{{ trans(key="title", lang = lang) }}</h1>
            <div class="flex"></div>
            {% set homeUrl = get_url(path="@/_index.md", lang = lang) %}
            <a href="{{ homeUrl }}">{{ trans(key="documentation", lang = lang) }}</a>
            <a href="https://codeberg.org/yarmo/openpgp.rocks">{{ trans(key="contribute", lang = lang) }}</a>
        </div>
    </header>

    <div class="container">
        <div class="content">
            <main>
                <div class="languages">
                    {% for translation in translations | sort(attribute="lang") %}
                        {% if translation.lang == lang %}
                            <a href="{{ translation.permalink }}" class="current">{{ translation.lang }}</a>
                        {% else %}
                            <a href="{{ translation.permalink }}">{{ translation.lang }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                
                {% block content %}{% endblock content %}
            </main>
            <nav>
                <p>
                    <!-- Overview section -->
                    {% set navEntry = get_section(path="_index"~langExt~".md") %}
                    <a data-level="1" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="introduction"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="glossary"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="tools"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    <!-- Key management section -->
                    {% set navEntry = get_section(path="key-management/_index"~langExt~".md") %}
                    <a data-level="1" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="key-management/generating-keys"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="key-management/working-with-uids"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="key-management/working-with-subkeys"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="key-management/generating-laptop-keys"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="key-management/backing-up-keys"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                                        
                    {% set navEntry = get_page(path="key-management/revoking-keys"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    <!-- Common operations section -->
                    {% set navEntry = get_section(path="common-operations/_index"~langExt~".md") %}
                    <a data-level="1" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="common-operations/encrypting"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="common-operations/decrypting"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="common-operations/signing"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="common-operations/signature-verification"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>

                    <!-- Advanced operations section -->
                    {% set navEntry = get_section(path="advanced-operations/_index"~langExt~".md") %}
                    <a data-level="1" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="advanced-operations/notations"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    <!-- Key distribution section -->
                    {% set navEntry = get_section(path="key-distribution/_index"~langExt~".md") %}
                    <a data-level="1" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="key-distribution/keyservers"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="key-distribution/web-key-directory"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    <!-- Physical keys section -->
                    {% set navEntry = get_section(path="physical-keys/_index"~langExt~".md") %}
                    <a data-level="1" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="physical-keys/usb-keys-smartcards"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                    {% set navEntry = get_page(path="physical-keys/tpm"~langExt~".md") %}
                    <a data-level="2" href="{{ navEntry.path }}">{{ navEntry.title }}</a>
                    
                </p>
            </nav>
        </div>
        <footer>
            <p>
                {{ trans(key="content_licensed", lang = lang) }} <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.
            </p>
        </footer>
    </div>

</body>
</html>