{% extends "base_common.html" %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}
    <h2>{{ page.title }}</h2>

    <p class="subtle">{{ trans(key="last_updated", lang = lang) }}: {{ page.updated | date(format="%Y-%m-%d %H:%M") }} UTC</p>

    {{ page.content | safe }}
{% endblock content %}